<% content_for :body_class, "form-style" %>
<%= form_for(@user, :html => { :class=>"payment-form" } ) do |f| %>

  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, :class=>"form-control", :type=>"password" %>
  </div>
  <div class="actions form-group">
    <%= f.submit (f.object.new_record? ? "Create" : "Update"), :class=>"btn btn-default submit-button" %>
  </div>
<% end %>
