<% content_for :body_class, "landing-page" %>
  <div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="signup-form-link">Register</a>
							</div>
						</div>
						<hr>
				</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<%= form_tag "/login", :class=>"login-form", :id=>"login-form", :role=>"form", :style=>"display: block;" do %>
							<div class="form-group login-email validate-email" data-validate="email" >
								<%= text_field_tag 'email', nil, :placeholder => 'email', class: "form-control", :required=>true, :tabindex=>"2" %>
							</div>

							<div class="form-group login-password" data-validate="length" data-length="6">
								<%= password_field_tag 'password', nil, :placeholder => 'password', class: "form-control", :required=>true, :tabindex=>"2" %>
							</div>  

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<%= submit_tag "Log in", class: "form-control btn btn-login", :tabindex=>"3" %>
									</div>
								</div>
							</div>
						<% end %>

						<%= form_tag "/users", :class=>"signup-form", :id=>"signup-form", :role=>"form", :style=>"display: none;"  do %>
							<div class="form-group signup-first-name" data-validate="text" >
								<%= text_field_tag "user[first_name]", nil, :placeholder => 'first name', class: "form-control", :required=>true, :tabindex=>"1" %>
							</div>

							<div class="form-group signup-last-name" data-validate="text" >
								<%= text_field_tag "user[last_name]", nil, :placeholder => 'last name', class: "form-control", :required=>true, :tabindex=>"2" %>
							</div>

							<div class="form-group login-email validate-email" data-validate="email" >
								<%= text_field_tag "user[email]", nil, :placeholder => 'email', class: "form-control", :required=>true, :tabindex=>"3" %>
							</div>

							<div class="form-group login-password" data-validate="length" data-length="6">
								<%= password_field_tag "user[password]", nil, :placeholder => 'password', class: "form-control", :required=>true, :tabindex=>"4" %>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<%= submit_tag "Register", class: "form-control btn btn-login", :tabindex=>"5" %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
							<% flash.each do |type, message| %>
							  <div class="alert <%= bootstrap_class_for(type) %> fade in error-message">
							    <%= message %>
							  </div>
							<% end %>
	</div>
</div>

