<% content_for :body_class, "payment-new" %>
<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :sender_id %>
    <%= f.collection_select :sender_id, User.all, :id, :first_name, { :include_blank=> true }, { :class=>"form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :recipient_id %><br>
    <%= f.collection_select :recipient_id, User.all, :id, :first_name, { :include_blank=> true }, { :class=>"form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, :class=>"form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Create',  :class=>"btn btn-default" %>
  </div>
<% end %>
