<% content_for :body_class, "form-style" %>
<!-- TS - We in Ruby 2.0, what's up with using a hash rocket -->
<%= form_for(@payment, :html => { :class=>"payment-form" } ) do |f| %>

  <div class="field form-group">
    <%= f.label :sender_id %>
    <%= f.collection_select :sender_id, User.all, :id, :full_name, { :include_blank=> true }, { :class=>"form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :recipient_id %><br>
    <%= f.collection_select :recipient_id, User.all, :id, :full_name, { :include_blank=> true }, { :class=>"form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.label :amount %><br>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount, :class=>"form-control", :value=>(number_with_precision(f.object.amount, :precision=>2)) %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, :class=>"form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit (f.object.new_record? ? "Create" : "Update"), :class=>"btn btn-default submit-button" %>
  </div>
<% end %>