<% content_for :body_class, "payment-page form-style" %>

<div class="new-payment-link"><%= link_to 'Back', payments_path, :class=>"btn btn-default" %></div>
<% if @history.present? %>
<h1>Payment History</h1>
<table class="payment-table">
  <tbody>
    <% @history.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
      <% if payment.sender_id == current_user.id %>
        <td class="payment-user"><%= User.find_by_id(payment.recipient_id).first_name %></td>   
        <td class="owe-arrow">
          <svg width="100" height="70" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points=" 80,0 51.383,34.383 80,66.766 " fill="#f00"></polyline>
            </g>
          </svg>
        </td>
        <% else %> 
        <td class="payment-user"><%= User.find_by_id(payment.sender_id).first_name %></td>  
        <td class="owe-arrow">
          <svg width="100" height="70" xmlns="http://www.w3.org/2000/svg"><
            <g>
              <polyline points=" 50,0 78.383,34.383 50,66.766 " fill="#0f0"></polyline>
            </g>
          </svg>
        </td>
        <% end %>
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
        <td class="paid-date"><%= payment.updated_at.strftime("%m/%d/%Y") %></td>
      </tr>
      <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>
<% end %>