<% content_for :body_class, "payment-page" %>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <%= message %>
    </div>
  <% end %>
<div class="welcome-message">
  <span class="greeting"><%= "Hi, #{current_user.first_name}!" %></span>
  <br />
  <span class="owe-message">
  <% if @net_total > 0 %>
    <%= "You are owed #{number_to_currency(@net_total)}" %>
  <% elsif @net_total < 0 %>
    <%= "You owe #{number_to_currency(@net_total.abs)} total." %>
  <% else %>
    <%= "You are all square!" %>
  <% end %>
  </span>
</div>

<div class="new-payment-link override-link"><%= link_to 'Add Payment', new_payment_path, :class=>"btn btn-default" %>
<%= link_to 'Payment History', history_path , :class=>"btn btn-default" %></div>

<% if @recipient_payments.present? %>
<table class="payment-table">
<h1 class="table-title owed-table" >Money You Are Owed</h1>
  <tbody>
    <% @recipient_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <td class="payment-user"><%= User.find_by_id(payment.sender_id).first_name %></td>
        <%= render 'green_arrow' %>
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <td class="detail-link override-link"><%= link_to 'Details', edit_payment_path(payment), "data-toggle" => "tooltip", "data-placement" => "bottom", "data-original-title" => "Note: #{payment.note}", "trigger"=>"hover focus"%></td>
        <td class="paid-link override-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @sender_payments.present? %>
<table class="payment-table">
<h1 class="table-title owe-table" >Money You Owe</h1>
  <tbody class="payment-table">
    <% @sender_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <td class="payment-user"><%= User.find_by_id(payment.recipient_id).first_name %></td>
        <%= render 'red_arrow' %>
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <td class="detail-link override-link"><%= link_to 'Details', "#", "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Note: #{payment.note}" %></td>
        <td class="paid-link override-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>
<div class="bottom-space"></div>
<% end %>

