<p id="notice"><%= notice %></p>
<div class="welcome-message">
  <%= "Hi, #{current_user.first_name}!" %>
  <% if @net_total > 0 %>
    <%= "You are owed $#{@net_total}." %>
  <% elsif @net_total < 0 %>
    <%= "You owe $#{@net_total.abs} total." %>
  <% else %>
    <%= "You are all square!" %>
  <% end %>
</div>

<table class="payment-table">
<h1>Payments Owed</h1>
  <tbody>
    <% @recipient_payments.each do |payment| %>
      <tr>
        <td class="payment-user"><%= User.find_by_id(payment.sender_id).first_name %></td>
        <td class="owe-arrow">
          <svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points="0,0 48.383,48.383 0,96.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 48.383,48.383 0,96.766 "
                         to="240,0 288.383,48.383 240,96.766 "
                         dur="1.5s"
                         repeatCount="forwards"
                         fill="freeze"/>
                         </polyline>
              <rect fill="#00ff00" stroke="#00ff00" stroke-width="5" stroke-linejoin="null" stroke-linecap="null" x="12" y="28" width="240" height="44.48352" id="svg_2">
                <animate attributeType="XML"
                           attributeName="width"
                           from="0" to="240"
                           dur="1.5s"
                           repeatCount="forwards"
                           fill="freeze"/>
              </rect>
            </g>
          </svg></td>
        <td class="payment-amount"><%= "$#{payment.amount}" %></td>
        <td><%= payment.note %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="payment-table">
<h1>Payments Due</h1>
  <tbody class="payment-table">
    <% @sender_payments.each do |payment| %>
      <tr>
        <td class="payment-amount"><%= "$#{payment.amount}" %></td>
        <td class="owe-arrow">
          <svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points="0,0 48.383,48.383 0,96.766" fill="#f00">
                <animate attributeName="points"
                         from="0,0 48.383,48.383 0,96.766 "
                         to="240,0 288.383,48.383 240,96.766 "
                         dur="1.5s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <rect fill="#f00" stroke="#f00" stroke-width="5" stroke-linejoin="null" stroke-linecap="null" x="12" y="28" width="240" height="44.48352" id="svg_2">
                <animate attributeType="XML"
                         attributeName="width"
                         from="0" to="240"
                         dur="1.5s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </rect>
            </g>
          </svg>
        </td>
        <td class="payment-user"><%= User.find_by_id(payment.recipient_id).first_name %></td>
        <td><%= payment.note %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
