<% content_for :body_class, "payment-index" %>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <%= message %>
    </div>
  <% end %>
<div class="welcome-message">
  <span class="greeting"><%= "Hi, #{current_user.first_name}!" %></span>
  <br />
  <span class="owe-message">
  <% if @net_total > 0 %>
    <%= "You are owed #{number_to_currency(@net_total)}" %>
  <% elsif @net_total < 0 %>
    <%= "You owe #{number_to_currency(@net_total.abs)} total." %>
  <% else %>
    <%= "You are all square!" %>
  <% end %>
  </span>
</div>

<div class="new-payment-link override-link"><%= link_to 'Add Payment', new_payment_path, :class=>"btn btn-default" %>
<%= link_to 'Payment History', history_path , :class=>"btn btn-default" %></div>

<% if @recipient_payments.present? %>
<table class="payment-table">
<h1 class="table-title owed-table" >Money You Are Owed</h1>
  <tbody>
    <% @recipient_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <td class="payment-user"><%= User.find_by_id(payment.sender_id).first_name %></td>
        <td class="owe-arrow">
          <svg width="300" height="70" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points="0,0 28.383,34.383 0,66.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="50,0 78.383,34.383 50,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points="0,0 28.383,34.383 0,66.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="130,0 158.383,34.383 130,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points="0,0 28.383,34.383 0,66.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="210,0 238.383,34.383 210,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
            </g>
          </svg></td>
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <td class="detail-link override-link"><%= link_to 'Details', payment %></td>
        <td class="paid-link override-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @sender_payments.present? %>
<table class="payment-table">
<h1 class="table-title owe-table" >Money You Owe</h1>
  <tbody class="payment-table">
    <% @sender_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <td class="payment-user"><%= User.find_by_id(payment.recipient_id).first_name %></td>
        <td class="owe-arrow">
          <svg width="300" height="70" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="240,0 211.383,34.383 240,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="160,0 131.383,34.383 160,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="80,0 51.383,34.383 80,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
            </g>
          </svg>
        </td>
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <td class="detail-link override-link"><%= link_to 'Details', payment %></td>
        <td class="paid-link override-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="spacer"></tr>
    <% end %>
  </tbody>
</table>
<% end %>

