<% content_for :body_class, "payment-page" %>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in" id="flash">
      <%= message %>
    </div>
  <% end %>
<div class="welcome-message">
<!-- TS - it's generally bad syntax to include ERB in HTML. Instead, consider content_tag(:span, "Hi, ...", class: 'greeting') -->
<!-- TS - both of these look like they should be divs not spans -->
  <span class="greeting"><%= "Hi, #{current_user.first_name}!" %></span>
  <br />
  <span class="owe-message">
  <% if @net_total > 0 %>
    <%= "You are owed #{number_to_currency(@net_total)}" %>
  <% elsif @net_total < 0 %>
    <%= "You owe #{number_to_currency(@net_total.abs)} total." %>
  <% else %>
    <%= "You are all square!" %>
  <% end %>
  </span>
</div>

<div class="new-payment-link"><%= link_to 'Add Payment', new_payment_path, :class=>"btn btn-default" %>
<%= link_to 'Payment History', history_path , :class=>"btn btn-default" %></div>

<% if @recipient_payments.present? %>
<table class="payment-table">
<h1 class="table-title owed-table" >Money You Are Owed</h1>
  <tbody>
    <% @recipient_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <td class="payment-user"><%= User.find_by_id(payment.sender_id).first_name %></td>
        <%= render 'green_arrow' %>
        <!-- TS - unnecessary interpolation -->
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <!-- TS - as discussed, I think this method is going to be  -->
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <!-- TS - instead of using detail-link and/or override-link, style the a tag directly or apply these classes directly to the link -->
        <td class="detail-link override-link"><%= link_to 'Details', edit_payment_path(payment), "data-toggle" => "tooltip", "data-placement" => "bottom", "data-original-title" => "#{payment.note}", "trigger"=>"hover focus"%></td>
        <td class="paid-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="payment-<%= payment.id %> spacer"></tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @sender_payments.present? %>
<table class="payment-table">
<h1 class="table-title owe-table" >Money You Owe</h1>
  <tbody class="payment-table">
    <% @sender_payments.each do |payment| %>
      <tr class="payment-<%= payment.id %>">
        <!-- TS - avoid SQL calls in your view. Instead, an association should be made within the payment model to retrieve this. Will go over in the next review. -->
        <td class="payment-user"><%= User.find_by_id(payment.recipient_id).first_name %></td>
        <%= render 'red_arrow' %>
        <!-- TS - unnecessary interpolation -->
        <td class="payment-amount"><%= "#{number_to_currency(payment.amount)}" %></td>
      </tr>
      <tr class="links payment-<%= payment.id %>">
        <td></td>
        <!-- TS - hash rocket -->
        <td class="detail-link"><%= link_to 'Details', edit_payment_path(payment), "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "#{payment.note}" %></td>
        <td class="paid-link">
          <div id="paid-msg"></div>
          <%= link_to 'Paid', '#', class: 'js-update-paid', data: { payment: payment.id } %></td>
      </tr>
      <tr class="payment-<%= payment.id %> spacer"></tr>
    <% end %>
  </tbody>
</table>
<div class="bottom-space"></div>
<!-- TS - don't put javascript in a view unless you're feeding dynamic data and it's very, very, very minimal. All JS should be in a file -->
<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>
<% end %>

