<!DOCTYPE html>
<html>
<head>
  <title>Payment Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>"> 

<div class="container">
  <% if !session[:user_id].nil? %>
    <div class="pull-right logout-link override-link">
    	<h3>
        <%= link_to "Account", edit_user_path(current_user)%> |
        <%= link_to "Logout", logout_path(session[:user_id]), method: :delete %>
    	</h3>
    </div>
  <% end %>
  
  <%= yield %>
</div>

</body>
</html>
