<!DOCTYPE html>
<html>
<head>
  <title>Se12PaymentNew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 

<div class="container">
  <% if current_user.present? %>
    <div class="pull-right">
    	<h3>
    		<%= "Hi, #{current_user.first_name}!" %> |
        <%= link_to "Logout", logout_path(current_user), method: :delete %>
    	</h3>
    </div>
  <% end %>
  
<%= yield %>

</body>
</html>
