<!DOCTYPE html>
<html>
<head>
  <title>Payment Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>"> 

<div class="container">
  <% if !session[:user_id].nil? %>
    <div class="pull-right logout-link override-link">
    	<h3>
        <%= link_to "Account", user_path(current_user)%> |
        <%= link_to "Logout", logout_path(session[:user_id]), method: :delete %>
    	</h3>
    </div>
  <% end %>
  
  <%= yield %>
</div>

</body>
</html>
